#background-container {
  position: fixed;
  z-index: -2;
}

#background-source {
  position: fixed;
  bottom: 2mm;
  font-size: 3mm;
  line-height: 1;
  right: 10mm;
  z-index: -1;
  color: white;
  opacity: .875;
}

#background-source p {
  margin: 0;
  text-align: right;
}
