html {
  font-family: "Latin Modern Mono", monospace;
  background: black;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1;
  quotes: "“" "”" "‘" "’";
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  color: black;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

aside {
  opacity: .5;
}
nav {
  -webkit-column-width: 10em;
  -moz-column-width: 10em;
  column-width: 10em;
  margin: 1em auto;
  text-align: center;
}

nav a {
  display: block;
  width: 100%;
  padding: .125em 0;
  margin: .25em 0;
}
blockquote {
  margin: 1em;
  padding: 1em;
  border: thin currentColor solid;
}
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: normal;
}
h1 {
  font-size: 3em;
  text-decoration: underline;
}
hr {
  background: none;
  border: none;
  height: 0;
  border-bottom: thin currentColor solid;
  margin: 1em 0;
}
iframe {
  display: block;
  border: none;
  max-width: 100%;
  margin: auto;
}
img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}
p img, li img, dd img {
  display: inline-block;
  margin: 0;
}
p {
  margin: 0 0 1em;
}
blockquote p::before, blockquote li::before, blockquote dt::before, blockquote dd::before {
    content: open-quote;
}
blockquote p:not(:last-child)::after, blockquote li:not(:last-child)::after, blockquote dt:not(:last-child)::after, blockquote dd:not(:last-child)::after {
  content: no-close-quote;
}
blockquote p:last-child::after, blockquote li:last-child::after, blockquote dt:last-child::after, blockquote dd:last-child::after {
  content: close-quote;
}
li p, dd p, p:last-child {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}
thead {
  font-weight: 200;
}
tbody td {
  border: thin #858585 solid;
}
tbody tr:nth-child(even) {
  background: #ededed;
}
tbody tr:nth-child(odd) {
  background: #d8d8d8;
}

ul {
  list-style-type: circle;
  font-size: 1rem;
}
li ul {
  list-style-type: square;
}
li li ul {
  list-style-type: disc;
  font-size: .8rem;
}
li li li ul {
  list-style-type: circle;
}
li li li li ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal-leading-zero;
}
li ol {
  list-style-type: lower-latin;
}
li li ol {
  list-style-type: lower-roman;
  font-size: .8rem;
}
li li li ol {
  list-style-type: lower-greek;
}
li li li li ol {
  list-style-type: decimal;
}
dt {
  text-decoration: underline;
}
dt:after {
  content: ":";
}
dd + dt {
  margin-top: .5em;
}
dd {
  margin-left: 2em;
}

a {
  color: inherit;
  text-decoration: none;
  outline: .08em transparent dashed;
  opacity: .5;
  transition: opacity .5s, outline-color 1s;
}
a:hover {
  opacity: 1;
  outline-color: currentColor;
}
b {
  font-style: italic;
}
em {
  font-style: inherit;
  text-decoration: underline;
}
strong {
  font-weight: inherit;
  font-variant: small-caps;
}

#content-gradient {
  position: fixed;
  top: -.5%;
  bottom: -.5%;
  left: -.5%;
  right: -.5%;
  background: radial-gradient(ellipse farthest-side, transparent 50%, black 100%);
  z-index: -1;
}
#content {
  width: 100%;
  max-width: 170mm;
  margin: 10mm auto;
  padding: 20mm;
  background: rgba(255,255,255,.875);
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}
#content[data-visible] {
  visibility: visible;
  opacity: 1;
}
#content *:first-child {
  margin-top: 0;
}
#content *:last-child {
  margin-bottom: 0;
}
#audio-toggle {
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size: .75rem;
  cursor: pointer;
  opacity: .5;
  transition: opacity .5s;
  color: white;
}
#audio-toggle:hover {
  opacity: 1;
}

.content_scroll_event {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  border: none;
  padding: 0;
  margin: 0;
}
.audio_source_list {
  display: none;
}
